*{
    /* reset */
    box-sizing: border-box;
    padding: 0;
    margin: 0 ;
    border: 0;
}
body{
    /* Grid parent */
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 6fr;
    height: 100vh;

    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* SIDEBAR STYLES */
.sidebar{
    background-color: #1992d4;
    grid-row: 1/ span 2;
    padding: 12px 24px;
    font-weight: 550;

    display: grid;
    grid-template-rows: 80px 2fr 2fr;
    grid-template-columns: 1fr;
    gap: 20px;
}
.sidebar .title{
    font-size: 2rem;
    color: #ffffff;
    display: flex;
    align-items: center;
}
.sidebar img{
    filter: invert(100%);
    height: 28px;
}
.sidebar .title img{
    height: 46px;
}
.sidebar ul{
    list-style: none;
    padding-left: 8px;
    margin: 0 0 0 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr);
    gap: 24px;
}
.sidebar ul li{
    color: #ffffff;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 12px;
}

/* HEADER STYLES */
.header{
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    padding: 10px 2em;
    
    /* THE SHADOW */
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1); 
    /* LAYERING */
    position: relative; 
    z-index: 10;
}
.header .icon{
    height: 28px;
}
.header-row-top{
    /* display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 12px; */

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-row-top .search-section, .user-section{
    display:flex;
    align-items: center;
}
.header-row-top .search-section{
    flex:1;
    max-width: 60%;
    gap: 12px;
}
.header-row-top .user-section{
    gap: 26px;
}
.user-section p{
    font-size: 1em;
    font-weight: 600;
}
.header-row-top .search-bar{
    width: 100%;
    height: 90%;
    background-color: #e2e8f0;
    border: #e2e8f0;
    border-radius: 25px;
    padding: 6px 20px;
}
.big-profile{
    height: 5em;
    border-radius: 50%; 
}
.small-profile{
    height: 3em;
    border-radius: 50%;
}
.welcome-text > *{
    margin: 0;
}
.user-section .nametag{
    font-size: 1.5em;
}
.header-button-action{
    display: flex;
    gap: 20px;
}
.header-button-action button{
    border-radius: 25px;
    background-color: #1992d4;
    border: 0;
    color: #ffffff;
    font-size: 1em;
    font-weight: 550;
    padding: 12px 24px;
}

.main-content{
    background-color: #e2e8f0;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2fr 1fr;
    gap: 1em;
    padding: 2em 1em;
}
.main-content > * > p{
    font-size: 18px;
    font-weight: 550;
    padding-bottom: 12px;
}
.your-projects{
    grid-row: 1 / span 2;
}
.announcements, .trending{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
}
.card-container{
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

.announcements > .card-container{
    padding: 18px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, 1fr);
}
.announcements .card-item{
    padding: 10px 0;
}
.announcements .card-item:not(:last-child){
    border-bottom: 1px solid #e2e8f0;
}
.announcements .card-item .card-title{
    font-size: 16px;
    font-weight: 550;
    color: black
}
.announcements .card-item p{
    font-size: 14px;
    font-weight: 500;
    color: #636363;
}

.trending{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
}
.trending .card-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    padding: 18px;
    align-items: center;
}
.trending .card-item{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    column-gap: 12px;
    row-gap: 6px;
}
.trending .card-item img{
    grid-row: 1 / span 2;
}
.trending .card-item .trending-repo{
    color: #636363;
}