body{
    /* reset */
    padding: 0;
    margin: 0 ;
    border: 0;

    /* Grid parent */
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 6fr;
    height: 100vh;
}

.sidebar{
    background-color: #1992d4;
    grid-row: 1/ span 2;

    display: grid;
    grid-template-rows: 80px 2fr 2fr;
    grid-template-columns: 1fr;
}
.sidebar .title{
    font-size: 2rem;
    color: #ffffff;
}
.sidebar ul{
    list-style: none;
    padding-left: 0;
    margin: 0 0 0 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr);
    gap: 12px;
}
.sidebar ul li{
    color: #ffffff;
    font-size: 1.5rem;
}


.header{
    background-color: #ffffff;
}

.main-content{
    background-color: #e2e8f0;
}